
  
  <footer class="text-center text-lg-start text-black mt-5 bg-light"
          
          >
    
    <div class="container p-4 ">
    
      <section >
        
        <div class="row">
         
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3 bg-light">
            <h6 class="text-uppercase mb-4 font-weight-bold text-center">
              SYMPHI
            </h6>
            <p>
              Notre agence est spécialisée dans l'organisation d'événements de toutes sortes, qu'il s'agisse de mariages, d'anniversaires, de concerts ou de festivals. Nous mettons notre expertise et notre créativité à votre service pour faire de chaque événement un moment unique et inoubliable. 
            </p>
          </div>

          <hr class="w-100 clearfix d-md-none" />

          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
            <p>
              <a href='#' style="text-decoration:none; color:black">Show</a>
            </p>
            <p>
              <a href='#' style="text-decoration:none; color:black">Festivals</a>
            </p>
            <p>
              <a href='#' style="text-decoration:none; color:black">Villes</a>
            </p>
            <p>
              <a href='#' style="text-decoration:none; color:black">Souvenirs</a>
            </p>
          </div>

          <hr class="w-100 clearfix d-md-none" />
          
          <hr class="w-100 clearfix d-md-none" />
     
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
            <p><i class="fas fa-home mr-3"></i> Paris 75012, IDF</p>
            <p><i class="fas fa-envelope mr-3"></i> SYMPHI@gmail.com</p>
            <p><i class="fas fa-phone mr-3"></i> 01 23 45 67 88</p>
            <p><i class="fas fa-print mr-3"></i> 01 23 45 67 89</p>
          </div>

          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Follow us</h6>


            <!-- Snapchat -->
            <a
               href="https://www.snapchat.com/fr-FR"
               role="button"
               ><img src="{{asset('assets/images/snapchat.png')}}" alt="" style='height:4vh;border-radius:6px'></a>


            <!-- Twitter -->
            <a
               href="https://twitter.com/?lang=fr"
               role="button"
               ><img src="{{asset('assets/images/twitter.png')}}" alt="" style='height:4vh;border-radius:6px'></a>


            <!-- Facebook -->
            <a
               href="https://www.facebook.com"
               role="button"
               ><img src="{{asset('assets/images/facebook.png')}}" alt="" style='height:4vh;border-radius:6px'></a>

            <!-- Instagram -->
            <a
               href="https://www.instagram.com"
               role="button"
               ><img src="{{asset('assets/images/instagram.png')}}" alt="" style='height:4vh;border-radius:6px'></a>

          </div>
        </div>
       
      </section>
      
    </div>
  
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © 2020 Copyright:
      <a class="text-white" href="https://google.com/"
         >SYMPHI Events</a
        >
    </div>
  </footer>
