<form method="post" action="{{ path('app_ajout_evenement_delete', {'id': ajout_evenement.id}) }}" onsubmit="return confirm('Vous voulez vraiment supprimer cet évenement?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ajout_evenement.id) }}">
    <button class="btn btn-danger m-2">Effacer</button>
</form>
